#chat-upper-bar {
  position: fixed;
  top: 0;
  height: 60px;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: env(safe-area-inset-top);

  i {
    font-size: 24px;
    display: inline-block;
  }

  .active-chat,
  .user-email {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .active-chat {
    justify-content: left;
    i {
      margin-right: 10px;
    }
  }
  .user-email {
    justify-content: right;
    i {
      margin-left: 10px;
    }
  }
}
