#chat-upper-bar {
  position: fixed;
  top: 0;
  // left: 0;
  // width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;

  i {
    font-size: 24px;
    display: inline-block;
  }

  .chat-list {
    flex: 1;
  }
  .user-email {
    flex: 1;
    justify-content: right;
    display: flex;
    align-items: center;
    span {
      margin-left: 10px
    }
    i {
      margin-left: 10px;
    }
  }
}
