button {
  border-radius: 15px;
  margin: 10px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-input {
  position: fixed;
  bottom: 0;
  height: 60px;
  display: flex;
  background-color: black;
  input {
    background: gray;
    border: 1px solid black;
    outline: none;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 10px;
    flex: 8;
  }
  button {
    flex: 2;
  }

  .toggle-contacts {
    display: none;
  }
}
