body {
  padding: 16px;
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: 'Arial', Courier, monospace;
  * {
    font-size: 16px;
  }
  background-color: #222222;
}
button {
  background-color: none;
}

#chat-upper-bar,
#chat-ui,
#chat-input {
  width: calc(100% - 400px);
  right: 0;
  border-left: 1px solid #575757;
}

#trash {
  transform: translateY(105%);
  pointer-events: none;
  visibility: hidden;
  height: 0;
}

@media only screen and (max-width: 700px)  {
  #chat-upper-bar,
  #chat-ui,
  #chat-input {
    width: 100% !important;
    right: 0;
    border-left: none !important;
  }

  #chat-input {
    .toggle-contacts {
      display: flex !important;
    }
  }

  #chat-contacts {
    width: 100% !important;
    .bottom-nav {
      span {
        display: block !important;
      }
    }
  }

  #chat-contacts.hide {
    transform: translateX(-100%);
  }
}



// env(safe-area-inset-bottom, 0.5vh);

@keyframes appear {
  0% {
    opacity: 0.6;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}